---
title: Who We Are
layout: default
description: BaseHealth was founded by a team of leading researchers, computer scientists,
  healthcare executives and entrepreneurial visionaries. They bring expertise in the
  fields of genomics, personalized medicine, molecular biology, technology, business
  and more
---

{% assign team = site.data.team | sort: 'post_order' %}

<section class="hero-page" id="pageHero">
  <div class="content">
    <h3>
      BaseHealth was founded by a team of leading researchers, computer
      scientists, healthcare executives and entrepreneurial visionaries.
    </h3>
    <p class="p__alt head__line-break-grey head__line-center">
      They bring expertise in the fields of molecular biology, genetics,
      genomics, personalized medicine, business and more.
    </p>
    <div class="hero-button-container hide-sm">
      <a href="#management" class="btn-cta btn-outline__blue">
        Management
      </a>
      <a href="#advisors" class="btn-cta btn-outline__blue">
        Advisors
      </a>
      <a href="#board" class="btn-cta btn-outline__blue">
        Board of Directors
      </a>
    </div>
  </div>
</section>

<section class="row row-spacing-1-bottom">
  <div>
    <a class="anchor" id="management"></a>
    <h2 class="head__center head__bottom-indent">Management</h2>
    <!-- the modal grid system. -->
    <!-- all styling located in /assets/sass/modules/content.scss/ -->
    <!-- simple function located in modal.js -->

    <div class="modal-grid"> <!-- establish modal grid wrapper -->
      <div class="modal-grid-content"> <!-- establish modal grid content (for resizing) -->

        <div class="modal-grid-row"><!-- establish modal grid row -->
            {% for member in site.data.team %}
              {% if member.department == 'management' %}
                {% include lmnt-member-card.html %}
              {% endif %}
            {% endfor %}
        </div><!-- /modal grid row -->

      </div> <!-- /modal grid content -->
    </div> <!-- /modal grid wrapper -->

    <!-- /the modal grid system. -->

  </div>
</section>

<section class="row row-titanium row-spacing-1-top row-spacing-1-bottom">
  <div class="modal-grid-content">

    <a class="anchor" id="advisors"></a>
    <h2 class="head__center head__bottom-indent">Advisors</h2>

    <h3 class="head__center head__gray">Scientific</h3>
    <div class="modal-grid"> <!-- establish modal grid wrapper -->
      <div class="modal-grid-content"> <!-- establish modal grid content (for resizing) -->

        <div class="modal-grid-row"><!-- establish modal grid row -->
          {% for member in team %}
            {% if member.department == 'advisor' and member.specialty == 'scientific' %}
              {% include lmnt-member-card.html %}
            {% endif %}
          {% endfor %}
        </div><!-- /modal grid row -->

      </div> <!-- /modal grid content -->
    </div> <!-- /modal grid wrapper -->

    <h3 class="head__center head__gray">Medical</h3>
    <div class="modal-grid"> <!-- establish modal grid wrapper -->
      <div class="modal-grid-content"> <!-- establish modal grid content (for resizing) -->

        <div class="modal-grid-row"><!-- establish modal grid row -->
          {% for member in team %}
            {% if member.department == 'advisor' and member.specialty == 'medical' %}
              {% include lmnt-member-card.html %}
            {% endif %}
          {% endfor %}
        </div><!-- /modal grid row -->

      </div> <!-- /modal grid content -->
    </div> <!-- /modal grid wrapper -->


    <h3 class="head__center head__gray">Technical</h3>
    <div class="modal-grid"> <!-- establish modal grid wrapper -->
      <div class="modal-grid-content"> <!-- establish modal grid content (for resizing) -->

        <div class="modal-grid-row"><!-- establish modal grid row -->
          {% for member in team %}
            {% if member.department == 'advisor' and member.specialty == 'technical' %}
              {% include lmnt-member-card.html %}
            {% endif %}
          {% endfor %}
        </div><!-- /modal grid row -->

      </div> <!-- /modal grid content -->
    </div> <!-- /modal grid wrapper -->

  </div>
</section>

<section class="row row-spacing-1-top row-spacing-1-bottom">
  <div class="modal-grid-content">

    <a class="anchor" id="board"></a>
    <h2 class="head__center head__bottom-indent">Board of Directors</h2>

    <div class="modal-grid"> <!-- establish modal grid wrapper -->
      <div class="modal-grid-content"> <!-- establish modal grid content (for resizing) -->

        <div class="modal-grid-row"><!-- establish modal grid row -->
          {% for member in team %}
            {% if member.department == 'board' %}
              {% include lmnt-member-card.html %}
            {% endif %}
          {% endfor %}
        </div><!-- /modal grid row -->

      </div> <!-- /modal grid content -->
    </div> <!-- /modal grid wrapper -->

    </div>
  </div>
</section>

<script src="{{site.baseurl}}/js/modal.js"></script>
