---
title: News
layout: default
description: Basehealth News & Events
footer-headline: The Future of Population Care.
footer-url: https://medium.com/@basehealth/
footer-button-label: Read our Blog
footer-external: true
---

<section class="hero-page" id="pageHero">
  <div class="content">
    <h3>
      News, Events, and Press
    </h3>
    <p class="p__alt head__line-break-grey head__line-center">
      BaseHealth is the first predictive health platform that is evidence-based and data-driven without reliance on retrospective claims and ICD data.
    </p>
    <div class="hero-button-container hide-sm">
      <a href="#news" class="btn-cta btn-outline__blue">
        News
      </a>
      <!-- <a href="#events" class="btn-cta btn-outline__blue">
        Events
      </a> -->
      <a href="#press" class="btn-cta btn-outline__blue">
        Press
      </a>
    </div>
  </div>
</section>

<section class="row">
  <div class="content content__focus">
    <a class="anchor" id="news"></a>
    <h3 class="head__line-break-blue head__line-center">
      News
    </h3>
  </div>
</section>
<section class="row">
  <div class="content">
    <ul class="news-container">
      {% for article in site.posts %}
        {% if article.categories contains 'news' %}
          {% include lmnt-article-card.html %}
        {% endif %}
      {% endfor %}
    </ul>
    <span class="show-more-wrapper" id="news-show-more">
      <a href="#showmore" class="btn-cta btn-outline__blue btn-center" onclick="showMoreNews()">Show more</a>
    </span>
  </div>
</section>

<!-- <section class="row">
  <div class="content content__focus">
    <a class="anchor" id="press"></a>
    <h3 class="head__line-break-blue head__line-center">
      Events
    </h3>
  </div>
</section>
<section class="row">
  <div class="content">
    <ul class="news-container">
      {% for article in site.posts %}
        {% if article.categories contains 'events' %}
          {% include lmnt-article-card.html %}
        {% endif %}
      {% endfor %}
    </ul>
    <span class="show-more-wrapper" id="press-show-more">
      <a href="#showmore" class="btn-cta btn-outline__blue btn-center" onclick="showMorePress()">Show more</a>
    </span>
  </div>
</section> -->

<section class="row">
  <div class="content content__focus">
    <a class="anchor" id="press"></a>
    <h3 class="head__line-break-blue head__line-center">
      Press Releases
    </h3>
  </div>
</section>
<section class="row">
  <div class="content">
    <ul class="news-container">
      {% for article in site.posts %}
        {% if article.categories contains 'press' %}
          {% include lmnt-article-card.html %}
        {% endif %}
      {% endfor %}
    </ul>
    <span class="show-more-wrapper" id="press-show-more">
      <a href="#showmore" class="btn-cta btn-outline__blue btn-center" onclick="showMorePress()">Show more</a>
    </span>
  </div>
</section>

<script src="{{site.baseurl}}/js/news.js"></script>
