{% if include.config %}
<section class="foot-cta foot-events-active-cta">
  <div class="foot-cta__upper-corner foot-cta__upper-corner--white"></div>
  <div class="foot-cta__lower-corner"></div>
  <div class="content">
    {% if include.headline %}
      <h2>{{ include.headline }}</h2>
    {% endif %}
    {% if include.url %}
    <a href="{{ site.baseurl }}{{ include.url }}" class="btn-cta btn-outline__white">
      {{ include.button-label }}
    </a>
    {% endif %}
  </div>
</section>
{% else %}
<section class="foot-cta foot-events-active-cta">
  <div class="foot-cta__upper-corner foot-cta__upper-corner--white"></div>
  <div class="foot-cta__lower-corner"></div>
  <div class="content">
    {% if page.footer-headline %}
      <h2>{{ page.footer-headline }}</h2>
    {% else %}
      <h2>Operate Proactively<br />
      Accurately Measure Risk<br />
      Manage Liability Exposure</h2>
    {% endif %}
    {% if page.footer-url %}
    <a href="{{ page.footer-url }}" class="btn-cta btn-outline__white"{% if page.footer-external %} target="_blank"{% endif %}>
      {{ page.footer-button-label }}
    </a>
    {% else %}
    <a href="{{site.baseurl}}/contact.html" class="btn-cta btn-outline__white">
      Schedule an Demo
    </a>
    {% endif %}
  </div>
</section>
{% endif %}

<footer class="foot-events-active">
  <div class="content">
    <div class="col-fourth foot-branding-box">
      <img src="{{site.baseurl}}/assets/images/bh-logo-full.svg" width="235px" height="48px" />
      <span class="body__copyright">
        ©2018 BaseHealth
      </span>
    </div>
    <div class="col-fourth foot-nav-box">
      <ul class="footer-nav">
        <li><a href="/">Home</a></li>
        <li><a href="{{site.baseurl}}/solution.html">What We Solve</a></li>
        <li><a href="{{site.baseurl}}/platform.html">Platform</a></li>
        <li><a href="{{site.baseurl}}/science.html">Science</a></li>
        <li><a href="{{site.baseurl}}/about.html">About</a></li>
        <li><a href="{{site.baseurl}}/contact.html">Contact Us</a></li>
        <li><a href="{{site.baseurl}}/news.html" target="_blank">News</a></li>
      </ul>
    </div>
    <div class="col-fourth foot-nav-box">
      <ul class="footer-subnav">
        <li><a href="{{site.baseurl}}/careers.html">Careers</a></li>
        <li><a href="{{site.baseurl}}/privacy-policy_en.html">Privacy Policy</a></li>
        <li><a href="{{site.baseurl}}/cookies_en.html">Cookie Policy</a></li>
        <li><a href="{{site.baseurl}}/terms_en.html">Terms of Use</a></li>
        <li><a href="{{site.baseurl}}/consent_en.html">Consent</a></li>
        <li>
          <a href="https://www.linkedin.com/company/basehealth-inc-"><img src="{{site.baseurl}}/assets/images/linkedin-icon.svg" width="19px" height="19px" /></a>
          <a href="https://twitter.com/basehealth"><img src="{{site.baseurl}}/assets/images/facebook-icon.svg" width="19px" height="19px" /></a>
          <a href="https://www.facebook.com/BasehealthInc/"><img src="{{site.baseurl}}/assets/images/twitter-icon.svg" width="19px" height="19px" /></a>
        </li>
      </ul>
    </div>
    <div class="col-fourth foot-cta-box foot-events-active-cta-box">

      <a href="//privacy.truste.com/privacy-seal/validation?rid=7e0dd626-4ae5-4971-9f9a-30987be5005a" target="_blank">
        <img style="margin-top:10px;border: none" src="//privacy-policy.truste.com/privacy-seal/seal?rid=7e0dd626-4ae5-4971-9f9a-30987be5005a" alt="TRUSTe"/>
      </a>

    </div>
  </div>
</footer>

<script>
	var scroll = new SmoothScroll('a[href*="#"]');
</script>
