<script>
  $(document).ready(function() {
    $("[href]").each(function() {
      if (this.href == window.location.href) {
        $(this).addClass("active");
      }
    })
  })
</script>

<header class="nav-head" id="headBar">
  <div class="nav-wrap">
    <div class="branding">
      <a href="/">
        <img src="{{site.baseurl}}/assets/images/bh-logo-full.svg" width="204px" height="42px" />
      </a>
    </div>
    <div class="pages">
      <ul>
        {% for link in site.data.navigation.header-navigation %}
        <li>
          <a href="{{site.baseurl}}{{ link.url }}">{{ link.label }}</a>
        </li>
        {% endfor %}
      </ul>
    </div>
    <div class="nav-burger" onclick="mobileNav()">
      <div class="bar-container">
        <div class="bar"></div>
        <div class="bar"></div>
        <div class="bar"></div>
      </div>
    </div>
  </div>
</header>

<!-- mobile nav -->
<div class="mobile-nav mobile-nav-hide" id="mobileHead">
  <div class="overlay-content">
    <div class="overlay-close" onclick="mobileNav()"></div>
    <ul class="nav-links">
      {% for link in site.data.navigation.header-navigation %}
      <li class="nav-item">
        <a href="{{site.baseurl}}{{ link.url }}">{{ link.label }}</a>
      </li>
      {% endfor %}
    </ul>
  </div>
</div>
