<li class="news-article{% if article.categories contains 'news' %} news-post{% else %}{% if article.categories contains 'blog' %} blogs-post{% endif %}{% endif %}">
  {% if article.subhead != '' %}
  <span class="news-subhead"> <!-- news-provider -->
    {{ article.subhead }}
  </span>
  {% endif %}
  <h2> <!-- news-title -->
    {{ article.title }}
  </h2>
  <span class="news-subhead head__line-break-blue"> <!-- news-name + news-date -->
    {{ article.author }}
  </span>
  <p class="news-excerpt"> <!-- news-excerpt -->
    <b>{{ article.date | date: "%B %e, %Y" }}</b> - {{ article.excerpt }}
  </p>
  {% if article.external-button-url != '' %}
  <span class="news-button">
    <a href="{{ article.external-button-url }}" class="btn-cta btn-blue" target="_blank"> <!-- news-url -->
      {% if article.external-button-label != '' %}
      {{ article.external-button-label }}
      {% else %}
      Read more
      {% endif %}
    </a>
  </span>
  {% else %}
  <span class="news-button">
    <a href="{{ site.baseurl }}{{ article.url }}" class="btn-cta btn-blue"> <!-- news-url -->
      Read more
    </a>
  </span>
  {% endif %}
</li>
