<div class="event-bar event-bar-theme-{% if site.data.lmnt-event-bar.theme == 'light' %}1{% else %}2{% endif %}">
  <div class="content">
  <a href="{{ site.data.lmnt-event-bar.url }}">
    <div class="event-bar-left">
      <span class="event-subhead">{{ site.data.lmnt-event-bar.subhead }}</span>
      <span class="event-title">{{ site.data.lmnt-event-bar.headline }}</span>
      <span class="event-subhead event-subhead-focus">{{ site.data.lmnt-event-bar.caption }}</span>
    </div>
  </a>
    <div class="event-bar-right">
        <a href="{{ site.data.lmnt-event-bar.url }}" class="btn-cta btn-white mobile-hide">
          <span>{{ site.data.lmnt-event-bar.btn-label }}</span>
        </a>
        <a href="{{ site.data.lmnt-event-bar.url }}" class="event-icon-cta mobile-show">
          <span class="mobile-hide">{{ site.data.lmnt-event-bar.btn-label }}</span>
          <img src="{{ site.baseurl }}/assets/images/angle-right.svg" width="16px" height="26px">
        </a>
    </div>
  </div>
</div>
