// rows.scss

.row {
  width:100%;
  overflow:visible;
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

.fixed-row-height {
  min-height:125px;
  height:100%;
}

// row spacing
.row-spacing-1 {
 padding:$indent*2 0;
 @media (max-width:676px) {
   padding:$indent 0;
 }
}

.row-spacing-1-top {
 padding-top:$indent*2;
 @media (max-width:676px) {
   padding-top:$indent;
 }
}

.row-spacing-1-bottom {
 padding-bottom:$indent*2;
 @media (max-width:676px) {
   padding-bottom:$indent;
 }
}

.row-spacing-2-bottom {
 padding-bottom:$indent*2;
 @media (max-width:676px) {
   padding-bottom:$indent*1.5;
 }
}

.row-hero-spacing {
  padding-top:$indent*4;
  @media (max-width:676px) {
    padding-top:($indent*4)/2;
  }
}

// row colors

.row-titanium {
  background-color:$clr-titanium;
}

.wrapper .row-titanium + .foot-cta .foot-cta__upper-corner {
  background-color:$clr-titanium;
}
