<!DOCTYPE html>
<html>
{% include lmnt-head.html %}
<body id="pageBody">
  <main id="pageBody" class="wrapper">
    {% if site.data.event-bar.display == true %}
      {% include event-bar.html %}
    {% endif %}
    {% include lmnt-nav.html %}

    <section class="hero-page" id="pageHero">
      <div class="content">
        <h1>
          {{page.title}}
        </h1>
        <p class="p__alt head__line-break-blue head__line-center">
          {{page.description}}
        </p>
      </div>
    </section>

    <section class="row">
      <div class="content content-document content-document-post">
        <div class="content-document__body">
          <div class="content-document__section head__line-break-blue content-bottom-bump">

            {{ content }}

          </div>
        </div>
      </div>
    </section>

    {% include lmnt-footer.html %}
  </main>
  <script src="{{site.baseurl}}/js/functions.js"></script>
    <script src="{{site.baseurl}}/js/jquery-visible.min.js"></script>
</body>
</html>
