<!DOCTYPE html>
<html>
{% include lmnt-head.html %}
<body id="pageBody">
  <main id="pageBody" class="wrapper">
    {% if site.data.event-bar.display == true %}
      {% include event-bar.html %}
    {% endif %}
    {% include lmnt-nav.html %}

    <section class="hero-page" id="pageHero">
      <div class="content">
        <h1>
          {{page.title}}
        </h1>
        <p class="p__alt head__line-break-blue head__line-center">
          {{page.description}}
        </p>
      </div>
    </section>

    <section class="row">
      <div class="content content-document content-document-post">
        <article class="content-document__body">
          <b>{{ page.date | date: "%B %e, %Y" }}:</b><br />
          {{ content }}
        </article>
      </div>
    </section>

    {% include lmnt-footer.html config="true" headline="We take the guesswork out of risk and population health management and put science in the driver’s seat." url="/about.html" button-label="About Basehealth" %}
  </main>
  <script src="{{site.baseurl}}/js/functions.js"></script>
    <script src="{{site.baseurl}}/js/jquery-visible.min.js"></script>
</body>
</html>
